.language{
  display: flex;
  gap:5px;
  span{
    height: 30px;
    width: 1px;
    background-color: black;
  }
  P{
    line-height: 1.6;
    cursor: pointer;
  }
  P:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
  }
}