.language{
  display: flex;
  gap:5px;
  &.dark{
    span{
      background-color: rgb(255, 255, 255);
    }
  }
  span{
    height: 30px;
    width: 2px;
    background-color: black;
  }
  P{
    line-height: 1.6;
    cursor: pointer;
    &.active{
      text-decoration: underline;
      text-underline-offset: 8px;
    }
  }
  P:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
  }
}

@media (max-width:1096px) {
  .language{
    gap:4px;
    span{
      height: 25px;
    }
    P:hover{
      text-underline-offset: 6px;
    }
  }
}
