.overlay{
  position: fixed;
  inset:0;
  background-color: rgba(0, 0, 0, 0.474);
  width: 100%;
  height: 100%;
  z-index: 1000;
  animation: fadeInUp 0.25s ease forwards;
  &.closing {
    animation: fadeOutDown 0.25s ease forwards;
  }
}

.modal{
  animation: fadeInUp 0.25s ease forwards;
  .closeModal{
    position: absolute;
    right: 15px;
    top:15px;
    cursor: pointer;
  }
  &.closing{
    animation: fadeOutDown 0.25s ease forwards;
  }
  .successLabel{
    font-weight: 600;
    font-size: 17px;
  }
  &.dark{
    background-color:var(--background-dark);
    input{
      border-color: white;
      color: white;
      background-color: var(--background-dark);
    }
    .bottomBlock{
      button{
        background: none;
      }
    }
    .setPasswordVisibility{
      background: none;
    }
    .inputError{
      border:solid 1px red;
    }
  }
  position: absolute;
  width: 400px;
  border-radius: 7px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1010;
  padding: 10px;
  .subButton{
    background: none;
    font-size: 15px;
    font-weight: 600;
    padding: 0;
  }
  h2{
    line-height: 1.2;
  }
  input{
    border-radius: 7px;
    padding-left: 7px;
  }
  .formInput{
    border: 1px solid black;
  }
  input::placeholder{
    color: grey; 
    
  }
  .divInput{
    border: 2px solid rgba(245, 245, 220, 0);
  }
  P{
    font-size: 15px;
    line-height: 1.2;
  }
  .bottomBlock{
    display: flex;
    gap:10px;
    align-items: center;
    
    button{
      background: none;
      font-size: 15px;
      font-weight: 600;
      padding: 0;
    }
  }
  .authModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 315px;
    gap:18px;
    .authForm{
      display: flex;
      flex-direction: column;
      gap:27px;
      position: relative;
    }

  }
  .regModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:16px;
    height: 443px;
  }
  .regForm{
    display: flex;
    flex-direction: column;
    gap:27px;
  }
  .mainBtn{
    padding: 5px 10px;
  }
}

.inputError{
  border:solid 1px red;
}

.errorMessage{
  position: absolute;
  color: red;
  left: 3%;
}

.authEmailErrorMessage{
  top: 22%;
}

.authPasswordErrorMessage{
  top: 60%;
}

.regErrorMessage{
  position: absolute;
  color: red;
  left: 20%;
}

.regNameErrorMessage{
  top: 21%;
}

.regEmailErrorMessage{
  top:33.5%;
}

.regRegionSelectErrorMessage{
  top:47.5%;
}

.regCitySelectErrorMessage{
  top:61.5%;
}

.regPasswordErrorMessage{
  top:74%;
}

.passwordInputWrapper{
  position: relative;
}

.setPasswordVisibility{
  position:absolute;
  top:50%;
  right: 2%;
  transform: translateY(-50%);
  background: none;
}

.setPasswordVisibility:hover{
  background-color: rgba(0, 0, 0, 0);
}

.defaultOption{
  display: none;
}

@media (max-width:640px) {
 .modal{
    width: 295px;
    height: 312px;
    P{
      font-size: 14px;
      line-height: 1.2;
      }
    .bottomBlock{
      gap:8px;

      button{
        background: none;
        font-size: 14px;
        font-weight: 600;
        padding: 0;
      }
    }
    .modalTitle{
      font-size: 26px;
    }
    input{
      font-size: 18px;
    }
    .mainBtn{
      font-size: 18px;
    }
    .authModal{
      gap:16px;
    }
    .regModal{
      gap:14px;
    }
    .regErrorMessage{
      left: 10%;
    }
    .regNameErrorMessage{
      top: 28.5%;
    }
    .regEmailErrorMessage{
      top:46.5%;
    }
    .regPasswordErrorMessage{
      top:64.5%;
    }
  } 
}

@keyframes fadeInUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;

  }
}


