.fishSide{
  border: 1px solid black;
  border-radius: 7px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 480px;
  max-width: 480px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  
  .chooseLabel{
    position: absolute;
    text-align: center;
    top:45%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .content{
    &.dark{
      .currentBite{
        border-color: white;
      }
      .periodBiteBlock{
        .periodBiteButtons{
          .periodBiteButton:hover{
            border-bottom: 1px solid rgb(255, 255, 255);
          }
          .activeButton{
            border-bottom: 1px solid rgb(255, 255, 255);
          }
        }
      }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
    .fishInfo{
      height: 335px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap:10px;
      padding-bottom: 10px;
      .fishImg{
        width: 250px;
      }
      
      .fishDescr{
        font-size: 18px;
        text-align: center;
        line-height: 1.4;
      }
    }
    .currentBite{
      display: flex;
      align-items: center;
      justify-content: center;
      gap:10px;
      border-bottom: 1px solid black;
      padding-bottom: 25px;
      .biteLabelMobile{
        display: none;
      }
      .biteLabel{
        font-weight: 600;
        line-height: 1;
      }
      width: 100%;
    }
    .periodBiteBlock{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      gap:20px;
      padding-top: 5px;
      height: 175px;
      .periodBiteButtons{
        display: flex;
        gap:10px;
        .periodBiteButton{
          background: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0);
          border-radius: 0px;
          width: 57px;
        }
        .periodBiteButton:hover{
          border-bottom: 1px solid rgb(0, 0, 0);
        }
        .activeButton{
          border-bottom: 1px solid rgb(0, 0, 0);
        }
      }
    }
  }
}

@media (max-width:1340px) {
  .fishSide{
    width: 420px;
    .content{
      padding: 10px 0px;
      .fishInfo{
        height: auto;
        .fishImg{
          width: 190px;
        }
        .fishDescr{
          font-size: 16px;
          text-align: center;
          line-height: 1.3;
        }
      }
      .periodBiteBlock{
        gap:17px;
        .periodBiteButtons{
          display: flex;
          gap:5px;
        }
      }
      .currentBite{
        padding-bottom: 20px;
      }
    }
  }
}

@media (max-width:1280px) {
  .fishSide{
    padding-left: 10px;
    padding-right: 10px;
    width: 220px;
    .content{
      .fishInfo{
        gap:5px;
        height: 322px;
        .fishImg{
          width: 140px;
        }
        .fishDescr{
          font-size: 15px;
          line-height: 1.2;
        }
      }
      .periodBiteBlock{
        gap:10px;
        .periodBiteButtons{
          display: flex;
          flex-direction: row;
          gap: 5px;
          .periodBiteButton{
            width: 48px;
            font-size:15px;
            flex-shrink: 0; 
          }
        }
      }
      .currentBite{
        padding-bottom: 10px;
      }
    }
  }
}

@media (max-width:945px) {
  .fishSide{
    .content{
      .fishInfo{
        height: auto;
        .fishImg{
          width: 110px;
        }
        .fishDescr{
          display: none;
        }
      }
      .currentBite{
        flex-direction: column;
        .biteLabel{
          display: none;
        }
        .biteLabelMobile{
          display: block;
          font-weight: 600;
          font-size: 17px;
        }
      }
      .periodBiteBlock{
        gap:10px;
        .periodBiteButtons{
          display: flex;
          flex-direction: row;
          gap: 5px;
          overflow-x: auto;
          overflow-y: hidden;
          min-height: 35px;
          max-width: 100px;
          scroll-behavior: smooth; 
          padding-bottom: 5px;
          &::-webkit-scrollbar {
             height: 5px; 
          }
          &::-webkit-scrollbar-track {
            background: transparent; 
          }
          &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.4); 
            border-radius: 4px; 
          }
          &::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.6); 
          }
          &.dark{
            &::-webkit-scrollbar-thumb {
              background-color: rgba(255, 255, 255, 0.551); 
            }
            &::-webkit-scrollbar-thumb:hover {
              background-color: rgba(255, 255, 255, 0.69);
            }
          }
          .periodBiteButton{
            width: 48px;
            font-size:15px;
            flex-shrink: 0; 
          }
        }
      }
    }
  }
}

@media (max-width:850px) {
  .fishSide{
    width: 136px;
    .chooseLabel{
      font-size: 15px;
    }
  }
}