.mainContent {
  position: relative; /* Родитель должен быть относительно позиционированным */
  min-height: 435px;
}

.chooseCity {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  margin: 0; /* Убираем влияние на высоту */
}

