.periodBite{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap:10px;
  .periodBiteCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:7px;
    .time{
      font-size: 18px;
    }
  }
}