.periodBite{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:10px;
  .periodBiteCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
}