.weatherSide{
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 620px;
  
  .selects{
    display: flex;
    gap:20px;
  }
  .chooseCityLabel{
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

  }
}

@media (max-width:1340px) {
  .weatherSide{
    width: 510px;
  }
}

@media (max-width:1280px) {
  .weatherSide{
    width: auto;
    .selects{
      flex-direction: column;
      gap:10px;
    }
  }
}

@media (max-width:850px) {
  .weatherSide{
    width: 196px;
    min-height: 300px;
    .chooseCityLabel{
      font-size: 15px;
    }
  }
  
}
